/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-10-2017, 9:33:43
    Author     : ricar
*/
tr
{
    border: 2px;
    
}

.tabla
{
    align-content: center;
    
}